
/* Comments in cascading style sheets are use C type notation */

body {
background-color:#999999;
 color:#999999;
 font-size:16pt;
 background-image:url("pattern");
 background-repeat:repeat-xy
}


h1{color:#FFFFCC}

p{color:#FFFFCC}

p2{color:geen}

blockquote{color:#FFFFCC;
          font-size:6pt;
	  float:right}


/* this is how anchor colors are set */
a:link{color: #CCCCFF}
a:active{color: red}
a:visited{color: magenta}

/*
Measurements

eg
p{text-indenr:2px}

Units can be

cm	centimeters
em	widths of "m"
ex      height of an "x"
in	inches
mm	milimeters
pc	pica=1/6 of an incg
pt	point 1/72 inches
px	pixels

font propertise

font
font-family
font-size
font-style
font-variant
font-weight
